PORT=8000
BASE_API_URL=http://localhost:8000

DATABASE_URL=postgres://postgres:postgres@localhost:5432/waitlist?sslmode=disable

SUPABASE_HOST=
SUPABASE_SERVICE_KEY=

GOOSE_DRIVER=postgres
GOOSE_MIGRATIONS_PATH=./internal/storage/postgres/migrations

API_NAME=My API
API_VERSION=1.0.0

RESEND_API_KEY=

STRIPE_API_KEY=
STRIPE_SUBSCRIPTION_CALLBACK_PATH=/subscriptions/callback

STRIPE_PRO_PRODUCT_ID=
STRIPE_ENTREPRENEUR_PRODUCT_ID=